*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
/* banner related styles */
.banner-image{
    width: 440px;
    padding:50px 70px 0px 50px
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
}
.banner-text{
    text-decoration: 50%;
    color: rgba(39, 39, 39, 0.60);
    width: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;    
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 8px;
background: #E55473;
padding: 20px 40px;
margin: 32px;
}

#featured-description {
    padding: 24px 150px;
    text-align: center;
}
.section-title{
    margin-top: 200px;
    text-align: center;
}
/* flower related styles */
.section-container{
    background: #FFF;
}
.section-description{
    margin-bottom: 40px;
}
.flower-container{
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    padding-right: 20px; 
}
.flower-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 40px;   
}
.flower-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 40px;
}
.flower-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.f-1{
    width: 310px;
    height: 428px;  
    position:absolute;
    padding: 110px 78px 67px 76px;
}
.f-2{
    width: 370px;
    height: 370px;
    position:absolute;
    padding: 117px 47px 118px 47px;   
}
.f-3{
    width: 314px;
    height: 471px;
    position:absolute;
    padding: 67px 75px 67px 75px;
}
.p-description{
display: flex;
justify-content:space-around;
padding-bottom: 100px;
}
.pink-1{
    margin: 20px 0px 0px 250px;
    text-decoration: underline;
    font-weight: bold;
}
.pink-2{
    margin: 20px 0px 0px 300px;
    margin-right: 30px;
    margin-left: 200px;
    text-decoration: underline;
    font-weight: bold;
}
.pink-3{
    margin: 20px 0px 0px 150px;
    margin-right: 300px;
    margin-left: 100px;
    text-decoration: underline;
    font-weight: bold;
}
/* service container related styles */
.service-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
       width:1400px;
    height: 250px;
    padding: 20px;
    margin-bottom: 100px;
}
.service-man{
    align-items: center;
    justify-content:center;
    text-align: center;
}
/* deal sale related styles */
.deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0px;
}
.deal-sale{
    text-align: center;

    
}
.deal-description{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

/* instagram-container related styles */
.instagram-container{
text-align: center;
}

.instagram-title{
    margin:20px;
}
.instagram-description{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.insta-img-container{
    justify-content: center;
    padding:30px;
    padding-bottom: 100px;
}

.img-1{
    margin-right: 10px;
}
.img-2{
    margin-right: 10px;
}
.img-3{
    margin-right: 10px;
}

.form, input{
    display: inline;
       width: 700px;
    height: 64px;
}

.flower-end{
    text-align: center;
    background-image:url("./image/Rectangle\ 9a.png")
 }
 p {
    padding-bottom: 10px;
}

h1 {
    padding-top: 100px
}

.footer-div {
    text-align: center;
}

.footer-div {
    background-color: black;
    width: 1922px;
    height: 449px;
    align-items: center;
}


.footer-container{
    width: 100%;
    justify-content: center;
    margin-left: 280px;
    padding-bottom: 10px;
}

.footer-headeing {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}

.s-color {
    color: white;

}
.footer-p{
    color: white;
    width: 50% auto;
   

}

.footer-copy{
    color: white;
}